AzFileTransfer/AzFileTransfer/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AzFTServer/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AzFTServer/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetAllFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAllFilesResult" nillable="true" type="q1:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="fileinfo" nillable="true" type="q2:FileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="DownloadStreamResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentFileSize" type="xs:long" />
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="TotalFileSize" type="xs:long" />
  <xs:element name="FileDownLoadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="abtFileData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.IO" name="fiFileInfo" nillable="true" type="q4:FileInfo" />
  <xs:element name="lFileSize" type="xs:long" />
  <xs:element name="lOffset" type="xs:long" />
</xs:schema>